* {
  /*border: 1px solid black;*/
}

body {
  font-family: 'Dosis';
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

h2 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: rgba(0,0,0,0);
  width: 150px;
  height: 50px;
  font-family: 'Dosis';
  font-size: 14pt;
}

nav {
  justify-content: space-around;
  margin: 0 auto;
}

.title {
  font-size: 300%;
  margin: 20px;
  letter-spacing: 3px;
}

.thin {
  font-weight: 100;
}

#create {
  margin: 0 auto;
  background-color: grey;
  width: 960px;
  height: 480px;
  padding: 20px;
  display: inline-flex;
  flex-wrap: wrap;
}

.virtual-bar {
  background-color: white;
  margin: 0;
  width: 660px;
  height: 475px;
}

.ingredient-list {
  background-color: white;
  margin: 0 0 0 20px;
  width: 220px;
  height: 475px;
}

/*nutrition component to be added later*/
/*.nutrition {
  margin: 5px 0 -10px 0;
  width: 960px;
  height: 175px;
  background-color: white;
  display: inline-flex;
}
*/

/*STORY*/

#story {
  width: 100vw;
}

.float-left {
  width: 500px;
  height: 3000px;
  position: fixed;
  float: left;
  margin-top: -150px;
}

.tree1 {
  position: fixed;
  z-index: -1;
  float: left;
  width: 500px;
  height: 500px;
  background: url("https://i.imgur.com/zjmns2r.png") no-repeat 0px 0px;
  background-size: 100%; 
}

.tree3 {
  position: fixed;
  z-index: -2;
  float: left;
  width: 400px;
  height: 400px;
  background: url("https://i.imgur.com/eN1DCVQ.png") no-repeat 0px 0px;
  background-size: 100%;
  margin-top: 200px;
}

.tree5 {
  position: fixed;
  z-index: -3;
  float: left;
  width: 370px;
  height: 370px;
  background: url("https://i.imgur.com/SJ1zdWL.png") no-repeat 0px 0px;
  background-size: 100%;
  margin-top: 380px;
}

.float-right {
  width: 500px;
  height: 500px;
  right: 0;
  top: 0;
  position: fixed;
  float: right;
  margin-top: -110px;
}

.tree2 {
  position: fixed;
  z-index: -1;
  width: 500px;
  height: 500px;
  background-image: url("https://i.imgur.com/muEHrSF.png");
  background-repeat: no-repeat;
  background-position: top right;
  float: left;
  background-size: 100%;
  transform: scaleX(-1);
}

.tree4 {
  position: fixed;
  z-index: -2;
  margin-top: 250px;
  width: 500px;
  height: 500px;
  background-image: url("https://i.imgur.com/XA1esLe.png");
  background-repeat: no-repeat;
  background-position: top right;
  float: left;
  background-size: 100%;
  transform: scaleX(-1);
}

.tree6 {
  position: fixed;
  right: 0;
  z-index: -3;
  margin-top: 540px;
  width: 300px;
  height: 300px;
  background-image: url("https://i.imgur.com/h5CBotv.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100%;
  transform: scaleX(-1);
}







































.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
