* {
  /*border: 1px solid black;*/
}

body {
  font-family: 'Montserrat';
  background-color: #9dd1d9;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

.home-nav {
  border: none;
  box-shadow: 0 2px 0 0 white;
  background-color: rgba(0,0,0,0);
  width: 100px;
  height: 50px;
  font-family: 'Montserrat';
  font-size: 14pt;
  font-weight: normal;
  color: white;
  transition: width .6s ease, font-weight .6s ease, box-shadow .6s ease;
}

nav {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin: 0 auto;
}

.home-nav:hover {
  width: 140px;
  font-weight: bold;
  box-shadow: 0 4px 0 0 white;
  transition: width .6s ease, font-weight .6s ease, box-shadow .6s ease;
}

.title {
  font-size: 400%;
  margin: 20px;
  font-weight: 900;
  color: white;
}

.thin {
  font-weight: 100;
}

#create {
  position: absolute;
  left: 240px;
  top: 200px;
  background-color: grey;
  width: 960px;
  height: 480px;
  padding: 20px;
  display: inline-flex;
  flex-wrap: wrap;
}

.virtual-bar {
  background-image: url('https://i.imgur.com/E2LimnD.jpg');
  background-size: 80%;
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  margin: 0;
  width: 660px;
  height: 475px;
  z-index: 2;
}

.ingredient-overlay {
  position: absolute;
  float: center;
  clear: all;
  left: 85px;
  top: -10px;
  height: 530px;
}

#raisins {
  z-index: 4;
}

.ingredient-list {
  background-color: white;
  margin: 0 0 0 20px;
  width: 280px;
  height: 475px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ingredient {
  width: 278px;
  height: 80px;
  border: 1px solid lightgrey;
  background-color: white;
  font-size: 14pt;
  font-family: 'Montserrat';
}

.inactive {
  color: lightgrey;
}

/*nutrition component to be added later*/
/*.nutrition {
  margin: 5px 0 -10px 0;
  width: 960px;
  height: 175px;
  background-color: white;
  display: inline-flex;
}
*/

/*STORY*/

#story {
  width: 100vw;
}

.float-left {
  width: 500px;
  height: 3000px;
  position: fixed;
  float: left;
  margin-top: -170px;
}

.tree1 {
  position: fixed;
  top: 0px;
  z-index: -1;
  float: left;
  width: 500px;
  height: 500px;
  background: url("https://i.imgur.com/zjmns2r.png") no-repeat 0px 0px;
  background-size: 100%; 
}

.tree3 {
  position: fixed;
  z-index: -2;
  float: left;
  width: 400px;
  height: 400px;
  background: url("https://i.imgur.com/eN1DCVQ.png") no-repeat 0px 0px;
  background-size: 100%;
  margin-top: 200px;
}

.tree5 {
  position: fixed;
  z-index: -3;
  float: left;
  width: 370px;
  height: 370px;
  background: url("https://i.imgur.com/SJ1zdWL.png") no-repeat 0px 0px;
  background-size: 100%;
  margin-top: 380px;
}

.float-right {
  width: 500px;
  height: 500px;
  right: 0;
  top: 0;
  position: fixed;
  float: right;
  margin-top: -130px;
}

.tree2 {
  position: fixed;
  z-index: -1;
  width: 500px;
  height: 500px;
  background-image: url("https://i.imgur.com/muEHrSF.png");
  background-repeat: no-repeat;
  background-position: top right;
  float: left;
  background-size: 100%;
  transform: scaleX(-1);
}

.tree4 {
  position: fixed;
  z-index: -2;
  margin-top: 250px;
  width: 500px;
  height: 500px;
  background-image: url("https://i.imgur.com/XA1esLe.png");
  background-repeat: no-repeat;
  background-position: top right;
  float: left;
  background-size: 100%;
  transform: scaleX(-1);
}

.tree6 {
  position: fixed;
  right: 0;
  z-index: -3;
  margin-top: 540px;
  width: 300px;
  height: 300px;
  background-image: url("https://i.imgur.com/h5CBotv.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100%;
  transform: scaleX(-1);
}

.story-container {
  display: flexbox;
}

.center-story {
  width: 100vw;
  height: 800px;
  background-color: #9dd1d9;
  text-align: center;
  position: fixed;
  /*float: center;*/
  z-index: -4;
}

.center-story2 {
  width: 100vw;
  height: 800px;
  background-color: #9dd1d9;
  text-align: center;
  position: fixed;
  /*float: center;*/
  z-index: -4;
}

.first-break {
  height: 200px;
}

.second-break {
  height: 300px;
}

.tagline {
  color: white;
  font-style: italic;
  font-weight: normal;
  margin:0;
}

.onwhite {
  color: #F28430;
  font-size: 350%;
}

.hill1 {
  margin-top: 100px;
  width: 100vw;
  height: 800px;
  background-image: url("https://i.imgur.com/j32Siul.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.half-label {
  display: block;
  width: 50vw;
  font-size: 300%;
  color: grey;
  margin: 120px 0 0 0;
  color: #F28430;
}

.half-paragraph {
  display: block;
  width: 40vw;
  padding: 0 5vw;
  font-size: 150%;
  color: grey;
  margin: 120px 0 0 0;
}

.about {
  display: inline-flex;
  background-color: white;
  height: 460px;
  margin: 40px 0 0 0;
}

.login {
  background-color: white;
  height: 460px;
  margin: 40px 0 0 0;
}

.login-buffer {
  background-color: white;
  width: 100vw;
  height: 80px;
}

.login-button-container {
  display: inline-flex;
  justify-content: space-around;
  margin: 40px;
  width: 360px;
}

.login-button {
  width: 150px;
  height: 30px;
  border: none;
  background-color: lightgrey;
  font-family: 'Montserrat';
}

.login-input {
  width: 360px;
  height:30px;
  font-size: 120%;
}

































.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
